# Exclude everything
*
.venv
__pycache__
*.egg-info
.git*

# Force include just the stuff we need
!prefect_managedfiletransfer/rclone/rclone
!prefect_managedfiletransfer/*.py
!prefect_managedfiletransfer/*.sh
!uv.lock
!pyproject.toml